<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>劝你最好让狗日一下</title>
	<link rel="stylesheet" href="static/website/css/bootstrap.css">
	<link rel="stylesheet" href="static/website/css/style.css">
	<script src="static/website/js/jquery1.11.3.min.js"></script>
	<script src="static/website/js/jquery.fullPage.js"></script>
	<script src="static/website/js/main.js"></script>
</head>
<body>

	<div class="full-container" style="background-image:url(static/website/img/bg.jpg);background-size:cover;background-position:50% 50%;">
		
		<nav class="nav-2l">
			<a href="javascript:;" data-section="section_1">团队作品</a>
			<a href="javascript:;" data-section="section_2">游戏教程</a>
			<a href="javascript:;" data-section="section_3">团队介绍</a>
			<a href="javascript:;" data-section="section_4">加入我们</a>
		</nav>

		<section id="section_1"></section>

		<section id="section_2"></section>

		<section id="section_3">
		
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=236088435&amp;s=100&amp;t=" >
					<h3>饼子</h3>
					<h5>策划</h5><hr>
					<p>游戏主策划及美术<br>帅气的饼子，欢迎妹纸勾搭</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=714345271&amp;s=100&amp;t=" >
					<h3>包子</h3>
					<h5>美术</h5><hr>
					<p>包子，史上最帅的制作人</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=373596966&amp;s=100&amp;t=" >
					<h3>饺子</h3>
					<h5>程序</h5><hr>
					<p>主要负责游戏前端开发<br>骚气的Egret开发</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-lg-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=547536898&amp;s=100&amp;t=" >
					<h3>腰果</h3>
					<h5>程序</h5><hr>
					<p>主要负责游戏后端开发<br>以及网站的维护</p>
				</div>
			</div>

		</section>

		<section id="section_4"></section>


	</div>	

</body>
</html>



