<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hello</title>
	<link rel="stylesheet" href="static/website/css/bootstrap.css">
	<link rel="stylesheet" href="static/website/css/style.css">
	<script src="static/website/js/jquery1.11.3.min.js"></script>
	<script src="static/website/js/jquery.fullPage.js"></script>
	<script src="static/website/js/main.js"></script>
</head>
<body>

	<div class="full-container" style="background-image:url(static/website/img/bg.jpg);background-size:cover;">
		
		<nav class="nav-2l">
			<a href="javascript:;" data-section="section_1">团队作品</a>
			<a href="javascript:;" data-section="section_2">游戏教程</a>
			<a href="javascript:;" data-section="section_3">团队介绍</a>
			<a href="javascript:;" data-section="section_4">加入我们</a>
		</nav>

		<section id="section_1"></section>

		<section id="section_2"></section>

		<section id="section_3">
		
			<div class="col-md-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=236088435&amp;s=100&amp;t=" >
					<h5>饺子</h5>
					<p>策划</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=714345271&amp;s=100&amp;t=" >
					<h5>包子</h5>
					<p>策划</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=373596966&amp;s=100&amp;t=" >
					<h5>七月</h5>
					<p>策划</p>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card">
					<img src="http://q1.qlogo.cn/g?b=qq&amp;nk=547536898&amp;s=100&amp;t=" >
					<h5>腰果</h5>
					<p>策划</p>
				</div>
			</div>

		</section>

		<section id="section_4"></section>


	</div>	

</body>
</html>



